body {
    margin: 0;
    background-color: #f4f4f4;
}
:root {
    --text-p : #656d78;
    --dark-silver : #434a54;
    --white : #ffffff;
    --light-silver : #dddddd;
    --date-time : #aab2bd;
    --aqua : #50c1e9;
}
hr {
    border-top: 1px solid var(--light-silver);
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.navbar-header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-collapse ul {
    display: flex;
    gap: 50px;
    list-style: none;
}
.navbar-collapse ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-p);
    font-size: 13px;
    font-family: "Fjalla One", serif;
    padding: 25px;
}
.head-image-box {
    background-image: url('img/head-1.jpg');
    width: 100%;
    height: 500px;
}
.head-title-box {
    width: 456px;
    position: absolute;
    left: 38%;
    right: 38%;
    top: 40%;
}
.head-title-box h5 {
    font-size: 28px;
    color: var(--white);
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .4);
    padding: 10px;
    border-radius: 3px;
    text-align: center;
}
.head-section {
    position: relative;
}

/* Header style end */

/* Body style start */

/* Index page style start */
.mySlides-row {
    display: flex;
    border: 1px solid var(--light-silver);
    border-radius: 3px;
    background-color: var(--white);
}
.text-block,
.mySlides-image {
    width: 50%;
}
.text-block {
    padding: 20px;
}
.text-block h5 {
    font-family: "Fjalla One", serif;
    font-size: 16px;
    color: var(--dark-silver);
}
.text-block h5 a {
    text-decoration: none;
}
.text-block h5 a:hover {
    color: var(--aqua);
}
.text-block p {
    font-size: 12px;
    font-family: "Roboto Slab", serif;
    color: var(--text-p);
}
.text-block ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}
.text-block .text-block-list {
    justify-content: space-between;
}
.text-block .text-block-share-like {
    gap: 10px;
}
.text-block .text-block-read-more {
    background-color: #f6f7fb;
    padding: 5px 11px;
    border: 1px solid var(--light-silver);
    display: block;
    text-decoration: none;
}
.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0;
}
.w3-content {
    max-width: 100%;
    margin: 70px 0 60px;
}
.date-time {
    font-family: "Roboto Slab", serif;
    color: var(--date-time);
    font-size: 12px;
}
.w3-display-bottommiddle {
    bottom: -60px;
}
.w3-section {
    margin: 0;
}
.w3-white {
    background-color: var(--dark-silver) !important;
}
.wraper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.wraper article {
    border: solid 1px var(--light-silver);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

}
.wraper article .image img {
    width: 100%;
}
.wraper article .content {
    padding: 20px 20px 2px;
}
.wraper article .content .time {
    font-size: 12px;
    color: var(--date-time);
    font-family: "Roboto Slab", serif;
}
.wraper article .content h5 {
    font-size: 16px;
    color: var(--dark-silver);
    font-family: "Fjalla One", serif;
}
.wraper article .content h5:hover {
    color: var(--aqua);
}
.wraper article .content p {
    font-size: 12px;
    color: var(--text-p);
    font-family: "Roboto Slab", serif;
}
.wraper article hr {
    margin: 0;
}
.wraper article .content h2 {
    font-size: 12px;
    color: var(--text-p);
}
.wraper article ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
    align-items: center;
    margin-top: 0;
}
.wraper article a {
    text-decoration: none;
}
.wraper article .pull-right ul {
    gap: 12px;
}
.wraper article .pull-right a {
    font-size: 12px;
    color: var(--text-p);
}
.wraper article .pull-right ul span {
    /* visibility: hidden; */
    display: none;
}

/* Index page style end */

/* Single post style start */
.row {
    display: flex;
    gap: 30px;
}
.row-space {
    padding-top: 70px;
}
.col-1 {
    flex: 9;
}
.col-1 .head {
    width: 100%;
}
.col-1 .content {
    padding: 42px 70px 3px;
    border: solid 1px var(--light-silver);
    background-color: var(--white);
}
.col-1 .time {
    color: var(--date-time);
    font-size: 12px;
    font-family: "Roboto Slab", serif;
    margin: 0;
}
.col-1 h5 {
    font-size: 16px;
    font-family: "Fjalla One", serif;
    margin: 3px 0 33px;
}
.col-1 p {
    font-size: 12px;
    color: var(--text-p);
    font-family: "Roboto Slab", serif;
    margin: 0;
}
.col-1 .list-inline-photo {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: inline-block;
}
.col-1 .list-inline-photo li {
    float: left;
    margin-right: 6px;
}
.col-1 .list-inline-photo li:last-child {
    margin-right: 0;
}
.col-1 .list-inline-photo li a {
    /* display: block; */
}
.col-2 {
    flex: 3;
}
.single-post article {
    margin-bottom: 50px;
}
.list-inline-tags,
.list-inline-tags ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-inline-tags {
    margin: -10px 0 10px;
}
.list-inline-tags h3 {
    font-size: 10px;
    color: var(--text-p);
    margin: 0;
    padding: 0;
    text-transform: lowercase;
}
.list-inline-tags a {
    text-decoration: none;
}
.list-inline-tags a:hover {
    color: var(--aqua);
}
.list-inline-tags a:active {
    color: red;
}
.list-inline-tags ul a {
    font-size: 12px;
    padding-right: 6px;
    color: var(--text-p);
}
.list-inline-tags ul li:last-child a:hover {
    color: red;
}
/* Single post style end */

/* Sidebar start */
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar .search-group {
    display: flex;
    margin-bottom: 30px;
}
.sidebar .search-group p {
    margin: 0;
}
.sidebar .search-group button {
    width: 50px;
    height: 30px;
    background-color: var(--aqua);
    color: var(--white);
    font-size: 13px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    transition: .3s;
}
.sidebar .search-group button:hover {
    background-color: var(--dark-silver);
}
.sidebar .search-group input {
    height: 30px;
    width: 100%;
    border: solid 1px var(--light-silver);
    padding: 0 20px;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.sidebar .categories-group {
    margin-bottom: 30px;
}
.sidebar .categories-group h1 {
    width: 100%;
    height: 50px;
    background-color: var(--dark-silver);
    color: var(--white);
    padding: 0 30px;
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 3.3em;
    font-family: "Fjalla One", serif;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.sidebar .categories-group .content {
    border: solid 1px var(--light-silver);
    background-color: var(--white);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 20px 30px 20px;
}
.sidebar .categories-group .content li {
    padding: 1px 0;
}
.sidebar .categories-group .content p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: var(--dark-silver);
    font-family: "Roboto Slab", serif;
}
.sidebar .categories-group .content p a {
    text-decoration: none;
}
.sidebar .categories-group .content p a:hover {
    color: var(--aqua);
}
.sidebar .categories-group .content p span {
    float: right;
    width: 18px;
    height: 18px;
    background-color: var(--light-silver);
    border-radius: 3px;
    color: var(--dark-silver);
    text-align: center;
    line-height: 1.8em;
    font-size: 10px;
}
.sidebar .categories-group .content p span:hover {
    color: var(--white);
    background-color: var(--aqua);
}
/* Sidebar end */

/* Body style end */

/* Footer style start */
footer {
    background-color: var(--dark-silver);
    min-height: 80px;
    color: var(--white);
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.copyright-box, 
.social-box {
    margin-top: calc((80px - 50.6px)/2);
} 
footer a {
    color: var(--white);
}
footer ul {
    list-style: none;
    display: flex;
    gap: 10px;
}